/* Default values removal */
.rcd-html {
  height: 100%;
}

.rcd-body {
  margin: 0;
  height: 100%;

  h1, h2, p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: @rcd-color;
  }

  input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background: none;
    resize: none;
  }

  textarea {
    padding: 0;
  }

  input:focus, textarea:focus {
    outline: none;
  }

  header, div, nav, td, fieldset {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  table {
    border-collapse: collapse;
  }

  th {
    font-weight: 400;
  }

  fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    border-style: none;
  }

  legend {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

button, select {  
  all: unset;
  outline: revert;
  box-sizing: border-box;
}


/* Colors settings */
@rcd-background-color: #f9f9f9;
@rcd-color: #000;
.rcd-body {
  background-color: @rcd-background-color;
  color: @rcd-color;
}

/* Text settings */
@rcd-font-size: 14px;
@rcd-font-family: Arial, sans-serif;
.rcd-body {
  font-size: @rcd-font-size;
  font-family: @rcd-font-family;

  select, input {
    font-family: @rcd-font-family;
  }

  span {
    white-space: pre;
  }
}

/* Other settings */
.rcd-hidden {
  display: none !important;
}

.rcd-clickable {
  cursor: pointer;
}





